<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945647164575-0pok064mknbkf4ghsj2d9qrof0l9mdrh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945647164575-0pok064mknbkf4ghsj2d9qrof0l9mdrh</string>
	<key>API_KEY</key>
	<string>AIzaSyDADfcPb5_EcsH8uZoTjfc2_scD46L4v0c</string>
	<key>GCM_SENDER_ID</key>
	<string>945647164575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sixteenbrains.assignments</string>
	<key>PROJECT_ID</key>
	<string>assignments-66459</string>
	<key>STORAGE_BUCKET</key>
	<string>assignments-66459.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945647164575:ios:9cb151ebca67e9417596aa</string>
</dict>
</plist>